.column{
    float: left;
    padding: 2%;
    width: 20;
}

.intro > h1, h2 {
    text-align: center;
}

img {
    border-radius: 100%;
    object-fit: cover;
    width: 40%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
 h1{
     color: darkslategray;
     font-family: sans-serif;
 }
 h2{
     color: dodgerblue;
     font-style: italic;

 }
 body{
     background-color: peachpuff;
 }